doctype html
html(lang="ko")
  head
    meta(charset="utf-8")
    title EatSSU
    // Bootstrap core CSS
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(href="/stylesheets/ann.css" rel="stylesheet")
    script(src="https://use.fontawesome.com/releases/v5.2.0/js/all.js")
  body
    .page-container
      .mb-3.pt-0.t_white.bg-bk
        .position-relative.py-3
          .wrapper
            a(href='/')
              p.t_white.title.mb-0 EatSSU
              p.t_white.f30 음식점 여기 다 eatSSU! 
      .container.p-0.d-flex
        .card-60.d-flex.column
          .flex-index.card.radius-none
            .store-img-box
              img.photo(src=`/images/${storeInfo[0].storeName}.jpg` alt="")
          .store-info
            p.font-weight-700.store-name #{storeInfo[0].storeName}
            .line
            dl.row.pl-2.f15 
              dt.col-sm-3.font-weight-700 장소
              dd.col-sm-9 #{storeInfo[0].storeAddr}
              dt.col-sm-3.font-weight-700 전화번호
              dd.col-sm-9 #{storeInfo[0].phoneNumber}
              dt.col-sm-3.font-weight-700 영업시간
              dd.col-sm-9=`${storeInfo[0].startTime} ~ ${storeInfo[0].endTime}`
        .card-40 
          .review-wrpper
            .review-count 리뷰(22)
            .review-write
              form(action=`/kind/${storeInfo[0].category}/${storeInfo[0].storeName}`, method="post")
                input(type='text' name='nickname' placeholder="닉네임").review-box
                textarea(type='text' name='reviewDesc' placeholder="리뷰를 입력하세요 (100자 이내)")#content.review-box
                .flex-row
                  input(type='text' name='password' placeholder="비밀번호 4자리")#password.review-box
                  button(type='submit' value='insert')#btn.review-box 리뷰추가
            .reviews.column
              .review 
                .flex-row quswndud
                  i.fas.fa-edit.review-icon
                  i.fas.fa-trash-alt.review-icon
                .review-content 여기에 이렇게 내용이 쓰이겠지.여기에 이렇게 내용이 쓰이겠지.여기에 이렇게 내용이 쓰이겠지.여기에 이렇게 내용이 쓰이겠지.여기에 이렇게 내용이 쓰이겠지..여기에 이렇게 내용이 쓰이겠지.여기에 이렇게 내용이 쓰이겠지.여기에 이렇게 내용이 쓰이겠지.여기이렇게내용이쓰이겠지.
                p.mt-1 2019.11.11
              hr