doctype html
html(lang="ko")
  head
    meta(charset="utf-8")
    title EatSSU
    // Bootstrap core CSS
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(href="/stylesheets/ann.css" rel="stylesheet")
    script(src="https://use.fontawesome.com/releases/v5.2.0/js/all.js")
  body
    .page-container
      .mb-3.pt-0.t_white.bg-bk
        .position-relative.py-3
          .wrapper
            a(href='/')
              p.t_white.title.mb-0 EatSSU
              p.t_white.f30 음식점 여기 다 eatSSU!
      .container.p-0.d-flex
        .card-60.d-flex.column
          .card-60 
          b=storeInfo[0].storeName
          b=storeInfo[0].storeAddr
          b=storeInfo[0].phoneNumber
          b=storeInfo[0].startTime
          b=storeInfo[0].endTime
          b=storeInfo[0].score
          b=storeInfo[0].category
          .card-40        
        .card-40